@import url(http://fonts.googleapis.com/css?family=Roboto:100);

.x_container {

    margin-top: 100px;

}

.main_top {
    background: #f3f9ff;
    width: 100%;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Open Sans";
    font-size: 18px;
}

.main_top_table {
    width: 100%;
    margin-top: 20px;
    margin-left: 30px;
}

.main_top span {
    float: right;
    padding-right: 40px;
}

.main_top_header {
    color: #FFFFFF;
    background-color: #338bd6;
    width: 100%;
    height: 50px;
    font-size: 30px;
    padding-left: 12px;
    padding-top: 4px;
}

.main_bot {
    background: #d4ebff;
    width: 100%;
    height: 525px;
    display: none;
    font-family: "Roboto";
    font-size: 16px;
    padding-top: 30px;
}

.main_bot_link {
    float: right;
    font-family: "Roboto";
    font-size: 12px;
    padding-right: 20px;
    padding-top: 10px;
}

.slide {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background-color: #f3f9ff;
    width: 100%;
    height: 50px;
    font-size: 10px;
}

.btn-slide {
    background-color: #338bd6;
    border-style: solid;
    border-width: 1px;
    border-color: #1873c1;
    border-radius: 20px;
    text-align: center;
    width: 35px;
    height: 35px;
    padding: 10px 0 3px 0;
    margin-right: 10px;
    margin-top: 4px;
    display: block;
    font: bold 120%/100% Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
    float: right;
}

.right {
    width: 100%;
    background: #f3f9ff;
}

.right_header {
    color: #FFFFFF;
    background-color: #338bd6;
    width: 100%;
    height: 50px;
    font-size: 30px;
    padding-left: 12px;
    padding-top: 4px;
}

.right_top {

    height: 100%;
    padding-top: 20px;
    padding-bottom: 50px;

}

.right_bot {
    font-size: 18px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.right_bot span {
    float: right;
}

.rr {
    padding-top:10px;
}

.purchase_header {
    color: #FFFFFF;
    background-color: #338bd6;
    width: 100%;
    height: 50px;
    font-size: 30px;
    padding-left: 12px;
    padding-top: 4px;
}

.purchase {
    font-size: 18px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background: #f3f9ff;
    height: 100%;
    padding-top: 20px;

}

.purchase_stock {
    color: #FFFFFF;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: #338bd6;
    height: 30px;
    font-size: 18px;
    padding-left: 40px;
    border-style: none;
    cursor: pointer;
}

.purchase_stock2 {
    padding-left: 45px;
    color: #FFFFFF;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: #338bd6;
    height: 30px;
    font-size: 18px;
    border-style: none;
    cursor: pointer;
    font-family: "Open Sans";
    margin-right: 10px;
}

.button_container {
    padding: 10px 10px 10px 10px;
    padding-right: 40px;
    float: right;
}

.diag.ui-dialog {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: #f3f9ff;
    border-width: thin;
    border-color: #338bd6;
    border-style: solid;
}

.diag.ui-dialog .ui-dialog-titlebar {
    position: relative;
    height: 30px;
}

.diag.ui-dialog .ui-dialog-title {
    float: left;
    font-size: 18px;
    padding-left: 10px;
    vertical-align: middle;
    color: #FFFFFF;
    width: 100%;
    background-color: #338bd6;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.diag.ui-dialog .ui-dialog-titlebar-close {
    display: none;
    height: 20px;
    position: absolute;
    right: .3em;
    top: 50%;
    width: 20px;
    margin: -10px 0 0 0;
    padding: 1px;
}

.diag.ui-dialog .ui-dialog-content {
    font-size: 12px;
    position: relative;
    border: 0;
    padding: .5em 1em;
    background: none;
    overflow: auto;
}
.diag.ui-dialog .ui-dialog-content label {
    font-size: 18px;
    clear:left;
    width: 100px;
    text-align:right;
    padding-right: 10px;
    float: left;
}

.diag.ui-dialog .ui-dialog-content input {
    float: left;
    width: 75px;
}


.diag.ui-dialog .ui-dialog-buttonpane {
    text-align: center;
    border-width: 1px 0 0 0;
    margin-top: .5em;
    padding: .3em 1em .5em .4em;
}

.diag.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: right;
}

.diag.ui-dialog .ui-dialog-buttonpane button {
    color: #FFFFFF;
    display: table-cell;
    vertical-align: middle;
    background-color: #338bd6;
    height: 30px;
    font-size: 18px;
    text-align: center;
    border-style: none;
    margin: .5em .4em .5em 0;
    cursor: pointer;
}

.purchase label {
    font-size: 18px;
    clear:left;
    width: 100px;
    text-align:right;
    padding-right: 10px;
    float: left;
}

.purchase input {
    float: left;
    width: 75px;
}


/* Image in Text Box */
.tb11 {
    margin-left: 20px;
    background:#FFFFFF;
    padding:4px 4px 4px 4px;
    border:1px solid #CCCCCC;
    width:200px;
    height:25px;
    float: left;
}

.tb11_go {
    margin-left: 5px;
    float: left;
    background:url("../images/search.png") no-repeat 4px 4px;
    height: 30px;
    width: 30px;
}

.lb_top_table {
    width: 100%;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;

}

.lb_top_header {
    color: #FFFFFF;
    background-color: #338bd6;
    width: 100%;
    height: 50px;
    font-size: 30px;
    padding-left: 12px;
    padding-top: 4px;

}

.lb_top {
    background: #d4ebff;
    width: 100%;
    height: 100%;
    font-size: 16px;
    padding: 30px;
}

.lb_top_table_alt {
    background-color: #338bd6;
    color: #FFFFFF;
}
.ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
}
.ui-tooltip {
    position: absolute;
    z-index: 9999;
    max-width: 300px;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
}
.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    right: 80%;
    margin-left: -35px;
    bottom: -16px;
}
.arrow.top {
    top: -16px;
    bottom: auto;
}
.arrow.left {
    left: 20%;
}
.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
}
.arrow.top:after {
    bottom: -20px;
    top: auto;
}

.achievements {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 15px;
	margin-bottom: 15px;
	padding: 15px;
	height: 75px;
	width: 300px;
	background-color: #338bd6;
	color: #FFF;
	font-size: 16px;
	border-radius: 10px;
	text-align: left;

}

.achv_wrap {
	display: inline;
}

.achv_img {
	margin-top: -10px;
	float: left;
}

.achv_text {
	margin-left: 20px;
}

.red {

font-weight: bold;
color: red;

}

.green {

font-weight: bold;
color: green;

}

.black {

font-weight: bold;
color: black;

}

