@(user: securesocial.core.Identity, userId: Long, leagueId: Long)
@import securesocial.core.IdentityProvider
@import securesocial.core.Registry
@import securesocial.core.AuthenticationMethod._
@import securesocial.core.providers.utils.RoutesHelper
@import Http.Context.Implicit

@main("Paramoutn Investment League - Portfolio", user.fullName, userId, leagueId) {

<div class="x_container">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="main_top">
                    <div class="main_top_header">Portfolio Overview> </div>
                    <table class="main_top_table">
                        <tr>
                            <td>
                                <b>Portfolio Value:</b> <span id="portfolio_value">Frank Underwood</span>
                            </td>
                            <td>
                                <b>League Name:</b> <span id="league_name">Frank Underwood</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Cash Available:</b> <span id="cash">Frank Underwood</span>
                            </td>
                            <td>
                                <b>Percentage Return:</b> <span id="percent_return">Frank Underwood</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Total Stock Value:</b> <span id="total_stock_value">Frank Underwood</span>
                            </td>
                            <td>
                                <b>Initial Cash Balance:</b> <span id="starting_value">Frank Underwood</span>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                </td>
            </div>

            <div class="main_bot">

                <style type="text/css">
                    .tftable {color:#333333;width:100%;text-align:center;}
                    .tftable th {background-color:#acc8cc;padding: 8px;text-align:center;}
                    .tftable tr {background-color:#d4ebff;}
                    .tftable td {padding: 8px;}
                    .tftable tr:hover {background-color:#f3f9ff;}
                </style>

                <table class="tftable" border="0">
                    <tr><td>Sell1</td><td>GOOG</td><td>OWN</td><td>10</td><td>price_purchased</td><td>date_of_purchase</td><td>price_current</td></tr>
                    <tr><td>Sell2</td><td>GOOG</td><td>OWN</td><td>10</td><td>price_purchased</td><td>date_of_purchase</td><td>price_current</td></tr>
                    <tr><td>Sell3</td><td>GOOG</td><td>OWN</td><td>10</td><td>price_purchased</td><td>date_of_purchase</td><td>price_current</td></tr>
                    <tr><td>Sell4</td><td>GOOG</td><td>OWN</td><td>10</td><td>price_purchased</td><td>date_of_purchase</td><td>price_current</td></tr>
                    <tr><td>Sell5</td><td>GOOG</td><td>OWN</td><td>10</td><td>price_purchased</td><td>date_of_purchase</td><td>price_current</td></tr>
                    <tr><td>Sell6</td><td>GOOG</td><td>OWN</td><td>10</td><td>price_purchased</td><td>date_of_purchase</td><td>price_current</td></tr>
                    <tr><td>Sell7</td><td>GOOG</td><td>OWN</td><td>10</td><td>price_purchased</td><td>date_of_purchase</td><td>price_current</td></tr>
                    <tr><td>Sell8</td><td>GOOG</td><td>OWN</td><td>10</td><td>price_purchased</td><td>date_of_purchase</td><td>price_current</td></tr>
                    <tr><td>Sell9</td><td>GOOG</td><td>OWN</td><td>10</td><td>price_purchased</td><td>date_of_purchase</td><td>price_current</td></tr>
                    <tr><td>Sell10</td><td>GOOG</td><td>OWN</td><td>10</td><td>price_purchased</td><td>date_of_purchase</td><td>price_current</td></tr>
                </table>

                <a href="" class="main_bot_link">
                    Load next 10 stocks
                </a>

            </div>

            <div class="slide">
                <div class="btn-slide">
                    v</div></div>

        </div>

        <div class="col-md-4">

            <div class="right">

                <div class="right_header">Query ></div>

                <div class="right_top">
                    <input
                        type="text"
                        maxlength=4
                        class="tb11"
                        id="query_input"
                        name="query"
                        onblur="this.value=this.value.toUpperCase()"
                        >
                    <a href="#"><div class="tb11_go"></div></a>
                </div>

                <div class="right_bot">
                    <table style="table-layout: fixed; with: 100%;">
                        <tr width="50%">
                            <td>
                                <b>Ticker:</b>
                            </td>
                            <td>
                                <span id="stock_1"></span>
                            </td>
                        </tr>
                        <tr width="50%">
                            <td>
                                <b>Price:</b>
                            </td>
                            <td>
                                <span id="stock_2"></span>
                            </td>
                        </tr>
                        <tr width="50%">
                            <td>
                                <b>Volume:</b>
                            </td>
                            <td>
                                <span id="stock_3"></span>
                            </td>
                        </tr>
                        <tr width="50%">
                            <td>
                                <b>PE:</b>
                            </td>
                            <td>
                                <span id="stock_4"></span>
                            </td>
                        </tr>
                        <tr width="50%">
                            <td>
                                <b>EPS:</b>
                            </td>
                            <td>
                                <span id="stock_5"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>52 Week High:</b>
                            </td>
                            <td>
                                <span id="stock_6"></span>
                            </td>
                        </tr>
                        <tr width="50%">
                            <td>
                                <b>52 Week Low:</b>
                            </td>
                            <td>
                                <span id="stock_7"></span>
                            </td>
                        </tr>
                        <tr width="50%">
                            <td>
                                <b>Day Low:</b>
                            </td>
                            <td>
                                <span id="stock_8"></span>
                            </td>
                        </tr>
                        <tr width="50%">
                            <td>
                                <b>Day High:</b>
                            </td>
                            <td>
                                <span id="stock_9"></span>
                            </td>
                        </tr>
                        <tr width="50%">
                            <td>
                                <b>50 Day Moving Avg:</b>
                            </td>
                            <td>
                                <span id="stock_10"></span>
                            </td>
                        </tr>
                        <tr width="50%">
                            <td>
                                <b>Market Cap:</b>
                            </td>
                            <td>
                                <span id="stock_11"></span>
                            </td>
                        </tr>
                    </table>

                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function(){

        $(".btn-slide").click(function(){
            $(".main_bot").slideToggle("slow");
            $(this).toggleClass("active");
        });

    });
</script>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script>
    (function( $ ) {
        // constants
        var SHOW_CLASS = 'show',
        HIDE_CLASS = 'hide',
        ACTIVE_CLASS = 'active';

        $( '.tabs' ).on( 'click', 'li a', function(e){
            e.preventDefault();
            var $tab = $( this ),
            href = $tab.attr( 'href' );

            $( '.active' ).removeClass( ACTIVE_CLASS );
            $tab.addClass( ACTIVE_CLASS );

            $( '.show' )
            .removeClass( SHOW_CLASS )
            .addClass( HIDE_CLASS )
            .hide();

            $(href)
            .removeClass( HIDE_CLASS )
            .addClass( SHOW_CLASS )
            .hide()
            .fadeIn( 550 );
        });
    })( jQuery );

</script>

<script>
    function initPortfolio()
    {
        myJsRoutes.controllers.PortfolioController.getPortfolioOverview(@userId, @leagueId).ajax({
            success : function(data) {
                document.getElementById("league_name").innerHTML = capitalizeFirstLetter(data.leagueName);
                document.getElementById("cash").innerHTML =
                "$ " + Number(data.cash).toFixed(2);
                document.getElementById("total_stock_value").innerHTML =
                "$ " + Number(data.totalStockValue).toFixed(2);
                document.getElementById("starting_value").innerHTML =
                "$ " + Number(data.startingValue).toFixed(2);
                document.getElementById("portfolio_value").innerHTML =
                "$ " + Number(data.totalStockValue + data.cash).toFixed(2);
                document.getElementById("percent_return").innerHTML =
                Number(100 *
                (-1 + ((data.totalStockValue + data.cash) / data.startingValue))).toFixed(2) + "%";
            }
        });
    }

    initPortfolio();

    $('.tb11_go').click(function(e) {
        var idToGet = document.getElementById('query_input').value;
        myJsRoutes.controllers.Query.getQuery(idToGet).ajax({
            success : function(data) {
                requestOK = true;

                document.getElementById("stock_1").innerHTML = data.stock.ticker;
                document.getElementById("stock_2").innerHTML =
                "$ " + Number(data.stock.price).toFixed(2);
                document.getElementById("stock_3").innerHTML = data.stock.volume;
                document.getElementById("stock_4").innerHTML =
                Number(data.stock.pe).toFixed(2);
                document.getElementById("stock_5").innerHTML =
                "$ " + Number(data.stock.eps).toFixed(2);
                document.getElementById("stock_6").innerHTML =
                "$ " + Number(data.stock.week52High).toFixed(2);
                document.getElementById("stock_7").innerHTML =
                "$ " + Number(data.stock.week52Low).toFixed(2);
                document.getElementById("stock_8").innerHTML =
                "$ " + Number(data.stock.dayLow).toFixed(2);
                document.getElementById("stock_9").innerHTML =
                "$ " + Number(data.stock.dayHigh).toFixed(2);
                document.getElementById("stock_10").innerHTML =
                "$ " + Number(data.stock.moving50DayAvg).toFixed(2);
                document.getElementById("stock_11").innerHTML = data.stock.marketCap;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("Invalid Stock Query");
            }
        });
    });

    $("#query_input").focus(function() {
        $(this).data("hasfocus", true);
        document.bg = red;
    });

    $("#query_input").blur(function() {
        $(this).data("hasfocus", false);
    });

    $(document.body).keyup(function(e) {
        if ((e.which == 13 || e.keystroke == 13) && $("#query_input").data("hasfocus")) {
        var idToGet = document.getElementById('query_input').value;
        myJsRoutes.controllers.Query.getQuery(idToGet).ajax({
            success : function(data) {
                requestOK = true;

                document.getElementById("stock_1").innerHTML = data.stock.ticker;
                document.getElementById("stock_2").innerHTML =
                "$ " + Number(data.stock.price).toFixed(2);
                document.getElementById("stock_3").innerHTML = data.stock.volume;
                document.getElementById("stock_4").innerHTML =
                Number(data.stock.pe).toFixed(2);
                document.getElementById("stock_5").innerHTML =
                "$ " + Number(data.stock.eps).toFixed(2);
                document.getElementById("stock_6").innerHTML =
                "$ " + Number(data.stock.week52High).toFixed(2);
                document.getElementById("stock_7").innerHTML =
                "$ " + Number(data.stock.week52Low).toFixed(2);
                document.getElementById("stock_8").innerHTML =
                "$ " + Number(data.stock.dayLow).toFixed(2);
                document.getElementById("stock_9").innerHTML =
                "$ " + Number(data.stock.dayHigh).toFixed(2);
                document.getElementById("stock_10").innerHTML =
                "$ " + Number(data.stock.moving50DayAvg).toFixed(2);
                document.getElementById("stock_11").innerHTML = data.stock.marketCap;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("Invalid Stock Query");
            }
        });
        }
    });

    function capitalizeFirstLetter(string)
    {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }
</script>

<script src="js/bootstrap.min.js"></script>

}
<!--
<div class="page-header">
    <h2><img src="@user.avatarUrl" alt="@user.fullName" width="40px" height="40px"/> Welcome @user.firstName</h2>
</div>

<div class="clearfix">
    <h2>User Details</h2>

    <ul>
        <li>User Id: @user.identityId.userId</li>
        <li>Logged in from: @user.identityId.providerId</li>
        <li>Fist name: @user.firstName</li>
        <li>Last name: @user.lastName</li>
        <li>Full name: @user.fullName</li>
        <li>Email: @user.email.map { email => @email }.getOrElse("Not Available")</li>
        <li>Authentication method: @user.authMethod</li>
    </ul>

    @user.oAuth1Info.map { info =>
    <h2>OAuth1 Info</h2>

    <ul>
        <li>Token: @info.token</li>
        <li>Secret: @info.secret</li>
    </ul>
    }

    @user.oAuth2Info.map { info =>
    <h2>OAuth2 Info</h2>

    <ul>
        <li>Access Token: @info.accessToken</li>
        @info.tokenType.map { t => <li>Token Type: @t</li> }
        @info.expiresIn.map { exp => <li>Expires in: @exp seconds</li>}
        @info.refreshToken.map { rt => <li>Refresh Token: @rt</li>}
    </ul>
    }
    <hr>
    @user.passwordInfo.map { info =>
    <a class="btn" href="@securesocial.core.providers.utils.RoutesHelper.changePasswordPage.absoluteURL(Implicit.request(), IdentityProvider.sslEnabled)">Change Password</a>
    }



    <hr>
    <a class="btn" href="@securesocial.controllers.routes.LoginPage.logout()">Logout</a>
</div> -->

