@(user: securesocial.core.Identity, userId: Long, leagueId: Long, portfolioId: Long)
@import securesocial.core.IdentityProvider
@import securesocial.core.Registry
@import securesocial.core.AuthenticationMethod._
@import securesocial.core.providers.utils.RoutesHelper
@import Http.Context.Implicit

@main("Paramount Investment League - Portfolio", user.fullName, userId, leagueId) {

<script>
    $(function() {
        var name = $( "#name" ),
        email = $( "#email" ),
        password = $( "#password" ),
        allFields = $( [] ).add( name ).add( email ).add( password ),
        tips = $( ".validateTips" );
        function updateTips( t ) {
            tips
            .text( t )
            .addClass( "ui-state-highlight" );
            setTimeout(function() {
                tips.removeClass( "ui-state-highlight", 1500 );
            }, 500 );
        }
        $( "#purchase-form" ).dialog({
            dialogClass:"diag",
            autoOpen: false,
            height: 300,
            width: 350,
            modal: true,
            buttons: {
                "Purchase": function() {
                    var bValid = true;
                    allFields.removeClass( "ui-state-error" );
                    var ticker = document.getElementById('name').value;
                    var qty = document.getElementById('email').value;
                    myJsRoutes.controllers.Trader.buyStock(@portfolioId, ticker, qty).ajax({
                        success : function(data) {
                            requestOK = true;
                            initPortfolio();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            var err = JSON.parse( jqXHR.responseText );
                            alert(err.message);
                        }
                    });
                    $( this ).dialog( "close" );
                },
                Cancel: function() {
                    $( this ).dialog( "close" );
                }
            },
            close: function() {
                allFields.val( "" ).removeClass( "ui-state-error" );
            }
        });
        $( "#purchase2" )
        .button()
        .click(function() {
            $( "#purchase-form" ).dialog( "open" );
        });
    });

</script>

    </head>
    <body>
        <div id="purchase-form" title="Create new user">
            <p class="validateTips">All form fields are required.</p>
            <form>
                <fieldset>
                    <label for="name">Ticker: </label>
                    <input style="text-transform:uppercase"type="text" name="name" id="name" class="text ui-widget-content ui-corner-all">
                    <label for="email">Quantiy: </label>
                    <input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all">
                </fieldset>
            </form>
        </div>


<div class="x_container">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="main_top">
                    <div class="main_top_header">Portfolio Overview ></div>
                    <div class="unfuckthespan">
                    <table class="main_top_table">
                        <tr>
                            <td>
                                <b>Cash Available:</b>
                                <span id="cash"></span>
                            </td>
                            <td>
                                <b>League Name:</b>
                                <span id="league_name"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Stock Value:</b>
                                <span id="total_stock_value"></span>
                            </td>
                            <td>
                                <b>Percentage Return:</b>
                                <span id="percent_return"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Total Portfolio Value:</b>
                                <span id="portfolio_value"></span>
                            </td>
                            <td>
                                <b>Initial Cash Balance:</b>
                                <span id="starting_value"></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                        <div class="button_container">
                                <button id="purchase2" class="purchase_stock">Purchase Stock</button><td>
                                    </div>
                            </tr>
                    </table></div>
                </div>

                <div class="main_bot">

                    <style type="text/css">
                        .tftable {color:#333333;width:100%;text-align:center;}
                        .tftable th {background-color:#acc8cc;padding: 8px;text-align:center;}
                        .tftable tr {background-color:#d4ebff;}
                        .tftable td {padding: 8px;}
                        .tftable tr:hover {background-color:#f3f9ff;}
                    </style>

                    <table class="tftable" border="0">
                        <tr><td><b>SELL</b></td>
                            <td><b>TICKER</b></td>
                            <td><b>TYPEOF</b></td>
                            <td><b>QTY</b></td>
                            <td><b>PRICE</b></td>
                            <td><b>DATEOF</b></td>
                            <td><b>CURRENTPRICE</b></td>
                        </tr>
                        <tr><td>Sell1</td><td><span id="pos_ticker_1"></span></td>
                            <td><span id="pos_typeOf_1"></span></td>
                            <td><span id="pos_qty_1"></span></td>
                            <td><span id="pos_price_1"></span></td>
                            <td><span id="pos_dateOf_1"></span></td>
                            <td><span id="pos_currentPrice_1"></span></td>
                        </tr>
                        <tr><td>Sell2</td>
                            <td><span id="pos_ticker_2"></span></td>
                            <td><span id="pos_typeOf_2"></span></td>
                            <td><span id="pos_qty_2"></span></td>
                            <td><span id="pos_price_2"></span></td>
                            <td><span id="pos_dateOf_2"></span></td>
                            <td><span id="pos_currentPrice_2"></span></td>
                        </tr>
                        <tr><td>Sell3</td>
                            <td><span id="pos_ticker_3"></span></td>
                            <td><span id="pos_typeOf_3"></span></td>
                            <td><span id="pos_qty_3"></span></td>
                            <td><span id="pos_price_3"></span></td>
                            <td><span id="pos_dateOf_3"></span></td>
                            <td><span id="pos_currentPrice_3"></span></td>
                        </tr>
                        <tr><td>Sell4</td>
                            <td><span id="pos_ticker_4"></span></td>
                            <td><span id="pos_typeOf_4"></span></td>
                            <td><span id="pos_qty_4"></span></td>
                            <td><span id="pos_price_4"></span></td>
                            <td><span id="pos_dateOf_4"></span></td>
                            <td><span id="pos_currentPrice_4"></span></td>
                        </tr>
                        <tr><td>Sell5</td>
                            <td><span id="pos_ticker_5"></span></td>
                            <td><span id="pos_typeOf_5"></span></td>
                            <td><span id="pos_qty_5"></span></td>
                            <td><span id="pos_price_5"></span></td>
                            <td><span id="pos_dateOf_5"></span></td>
                            <td><span id="pos_currentPrice_5"></span></td>
                        </tr>
                        <tr><td>Sell6</td>
                            <td><span id="pos_ticker_6"></span></td>
                            <td><span id="pos_typeOf_6"></span></td>
                            <td><span id="pos_qty_6"></span></td>
                            <td><span id="pos_price_6"></span></td>
                            <td><span id="pos_dateOf_6"></span></td>
                            <td><span id="pos_currentPrice_6"></span></td>
                        </tr>
                        <tr><td>Sell7</td><td><span id="pos_ticker_7"></span></td>
                            <td><span id="pos_typeOf_7"></span></td>
                            <td><span id="pos_qty_7"></span></td>
                            <td><span id="pos_price_7"></span></td>
                            <td><span id="pos_dateOf_7"></span></td>
                            <td><span id="pos_currentPrice_7"></span></td>
                        </tr>
                        <tr><td>Sell8</td>
                            <td><span id="pos_ticker_8"></span></td>
                            <td><span id="pos_typeOf_8"></span></td>
                            <td><span id="pos_qty_8"></span></td>
                            <td><span id="pos_price_8"></span></td>
                            <td><span id="pos_dateOf_8"></span></td>
                            <td><span id="pos_currentPrice_8"></span></td>
                        </tr>
                        <tr><td>Sell9</td>
                            <td><span id="pos_ticker_9"></span></td>
                            <td><span id="pos_typeOf_9"></span></td>
                            <td><span id="pos_qty_9"></span></td>
                            <td><span id="pos_price_9"></span></td>
                            <td><span id="pos_dateOf_9"></span></td>
                            <td><span id="pos_currentPrice_9"></span></td>
                        </tr>
                        <tr><td>Sell10</td>
                            <td><span id="pos_ticker_10"></span></td>
                            <td><span id="pos_typeOf_10"></span></td>
                            <td><span id="pos_qty_10"></span></td>
                            <td><span id="pos_price_10"></span></td>
                            <td><span id="pos_dateOf_10"></span></td>
                            <td><span id="pos_currentPrice_10"></span></td>
                        </tr>
                    </table>

                    <a href="" class="main_bot_link">
                        Load next 10 stocks
                    </a>

                </div>

                <div class="slide">
                    <div class="btn-slide">
                        v</div></div>

            </div>

            <div class="col-md-4">

                <div class="right">

                    <div class="right_header">Query ></div>

                    <div class="right_top">
                        <input
                            type="text"
                            maxlength=4
                            class="tb11"
                            id="query_input"
                            name="query"
                            style="text-transform:uppercase"
                        >
                        <a href="#"><div class="tb11_go"></div></a>
                    </div>

                    <div class="right_bot">
                        <table style="table-layout:fixed; width:100%;">
                            <tr width="50%">
                                <td><b>Ticker:</b></td>
                                <td><span id="stock_1"></span></td>
                            </tr>
                            <tr width="50%">
                                <td><b>Price:</b></td>
                                <td><span id="stock_2"></span></td>
                            </tr>
                            <tr width="50%">
                                <td><b>Volume:</b></td>
                                <td><span id="stock_3"></span></td>
                            </tr>
                            <tr width="50%">
                                <td><b>PE Ratio:</b></td>
                                <td><span id="stock_4"></span></td>
                            </tr>
                            <tr width="50%">
                                <td><b>EPS:</b></td>
                                <td><span id="stock_5"></span></td>
                            </tr>
                            <tr width="50%">
                                <td><b>52 Week High:</b></td>
                                <td><span id="stock_6"></span></td>
                            </tr>
                            <tr width="50%">
                                <td><b>52 Week Low:</b></td>
                                <td><span id="stock_7"></span></td>
                            </tr>
                            <tr width="50%">
                                <td><b>Day Low:</b></td>
                                <td><span id="stock_8"></span></td>
                            </tr>
                            <tr width="50%">
                                <td><b>Day High:</b></td>
                                <td><span id="stock_9"></span></td>
                            </tr>
                            <tr width="50%">
                                <td><b>50 Day Moving Avg:</b></td>
                                <td><span id="stock_10"></span></td>
                            </tr>
                            <tr width="50%">
                                <td><b>Market Cap:</b></td>
                                <td><span id="stock_11"></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="rr">
                    <div class="purchase_header">Purchase Stock ></div>
                    <div class="purchase">
                        <table style="table-layout:fixed; width:100%;">
                            <tr><td width="60%">
                        <label for="ticker_input">Ticker:</label>
                        <input
                            type="text"
                            maxlength=4
                            id="ticker_input"
                            name="ticker"
                            style="text-transform:uppercase"
                        >
                        <label for="qty_input">Quantity:</label>
                        <input
                            type="text"
                            maxlength=4
                            id="qty_input"
                            name="ticker"
                            style="text-transform:uppercase"
                            >
                            </td><td>
                                <button class="purchase_stock2" name="purchase_stock" id="purchase_stock">submit</button>
                    </td>
                </tr>
                <tr><td>
                        </td><tr>

                            </table>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){

            $(".btn-slide").click(function(){
                $(".main_bot").slideToggle("slow");
                $(this).toggleClass("active");
            });

        });
    </script>

    <script>
        (function( $ ) {
            // constants
            var SHOW_CLASS = 'show',
            HIDE_CLASS = 'hide',
            ACTIVE_CLASS = 'active';

            $( '.tabs' ).on( 'click', 'li a', function(e){
                e.preventDefault();
                var $tab = $( this ),
                href = $tab.attr( 'href' );

                $( '.active' ).removeClass( ACTIVE_CLASS );
                $tab.addClass( ACTIVE_CLASS );

                $( '.show' )
                .removeClass( SHOW_CLASS )
                .addClass( HIDE_CLASS )
                .hide();

                $(href)
                .removeClass( HIDE_CLASS )
                .addClass( SHOW_CLASS )
                .hide()
                .fadeIn( 550 );
            });
        })( jQuery );

    </script>

    <script>

        iterator = 1;
        arr = [];
        initPortfolio();

        function updateSlider() {
            var temp = iterator + 9;
            var k;
            for ( k = iterator - 1; k < temp; ++k ) {
                document.getElementById("pos_ticker_" + (k + 2 - iterator)).innerHTML = arr[k].ticker;
                document.getElementById("pos_typeOf_" + (k + 2 - iterator)).innerHTML = arr[k].typeOf;
                document.getElementById("pos_qty_" + (k + 2 - iterator)).innerHTML = arr[k].qty;
                document.getElementById("pos_price_" + (k + 2 - iterator)).innerHTML =
                "$ " + Number(arr[k].price).toFixed(2);
                document.getElementById("pos_dateOf_" + (k + 2 - iterator)).innerHTML = arr[k].dateOf;
                document.getElementById("pos_currentPrice_" + (k + 2 - iterator)).innerHTML =
                "$ " + Number(arr[k].currentPrice).toFixed(2);
            }
                iterator = k;
        }

        function initPortfolio() {
            myJsRoutes.controllers.PortfolioController.getPortfolioOverview(@userId, @leagueId).ajax({
                type: "GET",
                dataType: 'json',
                success : function(data) {
                    document.getElementById("league_name").innerHTML = capitalizeFirstLetter(data.leagueName);
                    document.getElementById("cash").innerHTML =
                    "$ " + Number(data.cash).toFixed(2);
                    document.getElementById("total_stock_value").innerHTML =
                    "$ " + Number(data.totalStockValue).toFixed(2);
                    document.getElementById("starting_value").innerHTML =
                    "$ " + Number(data.startingValue).toFixed(2);
                    document.getElementById("portfolio_value").innerHTML =
                    "$ " + Number(data.totalStockValue + data.cash).toFixed(2);
                    document.getElementById("percent_return").innerHTML =
                    Number(-100 *
                    (1 - (data.totalStockValue + data.cash) / data.startingValue)).toFixed(2) + "%";

                    arr = data.positions;
                    iterator = 1;
                    updateSlider();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Something bad happened " + errorThrown);
                }

            });
        }

        function updateQuery(data) {

            document.getElementById("stock_1").innerHTML = data.stock.ticker;
            document.getElementById("stock_2").innerHTML =
            "$ " + Number(data.stock.price).toFixed(2);
            document.getElementById("stock_3").innerHTML = data.stock.volume;
            document.getElementById("stock_4").innerHTML =
            Number(data.stock.pe).toFixed(2);
            document.getElementById("stock_5").innerHTML =
            "$ " + Number(data.stock.eps).toFixed(2);
            document.getElementById("stock_6").innerHTML =
            "$ " + Number(data.stock.week52High).toFixed(2);
            document.getElementById("stock_7").innerHTML =
            "$ " + Number(data.stock.week52Low).toFixed(2);
            document.getElementById("stock_8").innerHTML =
            "$ " + Number(data.stock.dayLow).toFixed(2);
            document.getElementById("stock_9").innerHTML =
            "$ " + Number(data.stock.dayHigh).toFixed(2);
            document.getElementById("stock_10").innerHTML =
            "$ " + Number(data.stock.moving50DayAvg).toFixed(2);
            document.getElementById("stock_11").innerHTML = data.stock.marketCap;
        }

        $('#purchase_stock')
        .click( function() {
            var ticker = document.getElementById('ticker_input').value;
            var qty = document.getElementById('qty_input').value;
            myJsRoutes.controllers.Trader.buyStock(@portfolioId, ticker, qty).ajax({
                success : function(data) {
                    requestOK = true;
                    initPortfolio();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    var err = JSON.parse( jqXHR.responseText );
                    alert(err.message);
                }
            });

        });


        $('.tb11_go').click(function(e) {
            var idToGet = document.getElementById('query_input').value;
            myJsRoutes.controllers.Query.getQuery(idToGet).ajax({
                success : function(data) {
                    requestOK = true;
                    updateQuery(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    var err = JSON.parse( jqXHR.responseText );
                    alert(err.message);
                }
            });
        });

        $("#query_input").focus(function() {
            $(this).data("hasfocus", true);
            document.bg = red;
        });

        $("#query_input").blur(function() {
            $(this).data("hasfocus", false);
        });

        $(document.body).keyup(function(e) {
            if ((e.which == 13 || e.keystroke == 13) && $("#query_input").data("hasfocus")) {
                var idToGet = document.getElementById('query_input').value;
                myJsRoutes.controllers.Query.getQuery(idToGet).ajax({
                    success : function(data) {
                        requestOK = true;
                        updateQuery(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        var err = JSON.parse( jqXHR.responseText );
                        alert(err.message);
                    }
                });
            }
        });

        function capitalizeFirstLetter(string)
        {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }
    </script>


}
